#player-header {
    background-color: #01236AE5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#player-header h4 {
    color: white;
}

#player-header .plyr--audio .plyr__controls {
    background-color: #01236AE5;
    color: white;
}

.qodef-side-menu-slide-from-right .qodef-wrapper .qodef-cover {
    top: 85px;
}

.catastrophe-banner {
    background-color: #01236AE5;
    margin: 0 -1000px;
    display: flex;
    justify-content: center;
}
.catastrophe-banner h2,
.catastrophe-banner p {
    color: white;

}