#player-header {
    background-color: #01236AE5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#player-header h4 {
    color: white;
}

#player-header .plyr--audio .plyr__controls {
    background: none;
    color: white;
}

.qodef-side-menu-slide-from-right .qodef-wrapper .qodef-cover {
    top: 85px;
}

.catastrophe-banner {
    background-color: #01236AE5;
    margin: 0 -1000px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 25px 0;
    position: relative;
    top: -85px;
    padding-top: 75px;

}

.catastrophe-banner h2,
.catastrophe-banner p {
    color: white;

}

div.catastrophe-image img {
    padding-right: 20px;
}

.qodef-wrapper {
    top: -25px;
}

.banner-home-container .vc_column-inner{
    padding-top: 0 !important;
    padding-bottom: 50px;
}

