#player-header {
    background-color: #01236AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}



@media (min-width:770px) {
    #player-header {
        flex-direction: row;
        padding-top: 0;
        padding-bottom: 0;
    }
}

#player-header h4 {
    color: white;
}

#player-header .plyr--audio .plyr__controls {
    background: none;
    color: white;
}

.qodef-side-menu-slide-from-right .qodef-wrapper .qodef-cover {
    top: 85px;
}

.catastrophe-banner {
    background: linear-gradient(to bottom,
            #01236AE5 70%,
            rgba(1, 35, 106, 0.8) 85%,
            rgba(1, 35, 106, 0.6) 95%,
            rgba(1, 35, 106, 0.5) 100%);

    margin: 0 -1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    position: relative;
    top: -85px;
    padding-top: 75px;

}

@media (min-width:770px) {
    .catastrophe-banner {
        display: flex;
        justify-content: center;
        align-items: end;
        flex-direction: row;
    }
}

.catastrophe-banner h2,
.catastrophe-banner p {
    color: white;
    padding-right: 20px;
}

@media (min-width:770px) {
    .catastrophe-banner p {
        padding-right: 20px;
    }
}

div.catastrophe-image img {
    max-width: 325px;
    margin-bottom: 15px;

}

@media (min-width:770px) {
    div.catastrophe-image img {
        padding-right: 20px;
        max-width: 100%;
        margin-bottom: 0;
        width: 600px;
    }
}

.catastrophe-content {
    margin-left: -77px;

}

@media (min-width:770px) {
    .catastrophe-content {
        margin-left: 0;

    }
}

.banner-home-container .vc_column-inner {
    padding-top: 0 !important;
    padding-bottom: 50px;
}

.latest-local-posts {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
}

.latest-local-posts .post {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
    margin-bottom: 10px;
}

.latest-local-posts .post:first-child {
    margin-left: 0;
}

.latest-local-posts .post:last-child {
    margin-right: 0;
}

.latest-local-posts .post-content {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
}

.latest-local-posts .post h3 {
    margin: 0;
    font-size: 33px;
    color: white;
    width: auto;
}

@media (min-width:770px) {
    .latest-local-posts {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .latest-local-posts .post {
        width: calc(33.33% - 10px);
        margin-right: 5x;
        margin-left: 5x;
        background-size: cover;
        background-position: center;
        margin-bottom: 0;
    }
}

/*MENU*/

.menu-main-menu .item_text {
    font-size: 20px;
    color: white;
    text-shadow: 0px 0px 15px #000000CC;
}

.qodef-header-vertical .qodef-vertical-menu>ul>li>a span.item_text {
    font-size: 20px;
    color: white;
    text-shadow: 0px 0px 15px #000000CC;
    margin-bottom: 20px;
}

.qodef-header-vertical .qodef-vertical-menu>ul>li>a span.item_text:hover {
    color: #01236AE5;
}

span.item_outer span.item_text {
    font-size: 14px;
    color: white;
    text-shadow: 0px 0px 15px #000000CC;
}

span.item_outer span.item_text:hover {
    color: #01236AE5;

}

.catastrophe-banner.last-program {
    background-color: #01236AE5;
    margin: 0 auto;
    top: 0;
    margin-bottom: 25px;
    padding: 15px 0;
}



@media (min-width:770px) {
    .catastrophe-banner.last-program {
        justify-content: flex-start;
    }
}

.catastrophe-banner.last-program img {
    max-width: 100%;
}

@media (min-width:770px) {
    .catastrophe-banner.last-program img {
        max-width: 100%;
    }
}

.catastrophe-banner.last-program .catastrophe-content {
    margin-left: 16px;
    margin-top: 50px;
}

@media (min-width:770px) {
    .catastrophe-content.last-program .catastrophe-content {
        margin-left: 0;
    }
}

.catastrophe-banner.last-program div.catastrophe-image p {
    font-size: 20px;
    font-weight: 600;
}

/* .catastrophe-banner.last-program div.catastrophe-image {
    padding: 0 25px;
} */

/* .qodef-mobile-header .qodef-mobile-header-inner .qodef-mobile-header-holder {
    top: 85px;
} */

footer .wp-block-image.social-media-icons {
    width: 40px;
    margin: 0 auto;
}

footer .follow-us {
    font-size: 20px;
    text-align: center;
}

footer p {
    color: white;
}

.catastrophe-banner.last-program .catastrophe-image {
    position: relative;
    width: 90%;
    height: 0;
    margin: auto;
    padding-top: 53.1%;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width:770px) {
    .catastrophe-banner.last-program .catastrophe-image {
        width: 75%;
        padding-top: 29.5%;
        margin-left: 16px;
        margin-bottom: 52px;
        margin-right: 24px;
        margin-top: -10px;
    }
}

.catastrophe-banner.last-program .catastrophe-image p {
    position: absolute;
    top: 0;
}

.catastrophe-banner.last-program .catastrophe-image iframe {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
}

.catastrophe-banner.last-program .catastrophe-image img {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
}

/* 
.catastrophe-image iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    border: none;
} */

.div-latest-local-posts-container p {
    color: #7A7878;
    font-size: 20px;
    font-weight: bold;
}


/* .contact-text {} */

.qodef-page-footer div.qodef-footer-bottom-holder {
    background-color: #04B7B3;
}

.qodef-page-footer div.qodef-footer-bottom-holder p span {
    color: black;
}

.qodef-page-footer div.qodef-footer-bottom-holder p span span.heart {
    color: red;
}


/* contact page */
@media (min-width:770px) {

    .contact-section-container {
        margin: 0 66px;
    }
}

form.wpcf7-form.init.cf7_custom_style_2 label {
    font-size: 20px;
    font-weight: bold;
}

form.wpcf7-form.init.cf7_custom_style_2 input[type=submit] {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    background-color: #01236A;
    border-radius: 4px;
}

.qodef-title-holder.qodef-centered-type.qodef-has-bg-image.qodef-bg-parallax.lazyloaded {
    display: none;
}

.side-banner {
    margin-top: 60px;
}

body.page-id-992 .qodef-sidebar-holder {
    margin-top: 50px;
}

body.page-id-992 aside.qodef-sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* SINGLE POSTS */

.qodef-post-single-info-in-left-corner .qodef-news-post-top-holder .qodef-news-post-top-table-cell {
    width: 100%;
    top: 0;
    bottom: auto;
}

.qodef-post-single-info-in-left-corner .qodef-news-post-top-holder .qodef-top-part-post-image {
    margin-top: 180px;
    text-align: left;
}

body.single.single-post .aligncenter {
    margin: inherit;
}

body.single.single-post .qodef-container{
    top: -155px;
}

@media (min-width:770px) {

    body.single.single-post .qodef-container{
        top: 0;
    }
}

.qodef-post-single-info-in-left-corner .qodef-news-post-top-holder {
    position: static;
    margin-bottom: 40px;
}

/* .qodef-post-has-media.qodef-item-space.post.type-post.status-publish.format-standard.has-post-thumbnail div.qodef-post-content div.qodef-post-heading div.qodef-post-image {
    height: 196px;
} */

.qodef-blog-holder article div.qodef-post-image {
    display: block;

}

.qodef-blog-holder article div.qodef-post-image a {
    width: 100%;
    /* O el ancho que desees */
    height: 300px;
    /* El alto que desees */
    overflow: hidden;
    /* Para recortar la imagen que se sale del contenedor */
    display: block;
}

.qodef-blog-holder article div.qodef-post-image a img {
    width: 100%;
    /* O también puede ser un valor fijo como 200px */
    height: 100%;
    object-fit: cover;
    /* Esto mantiene las proporciones de la imagen y la recorta para que encaje en el contenedor */
}

.qodef-post-excerpt-holder {
    height: 51px;
}

body.archive.category .qodef-btn.qodef-btn-solid {
    background-color: #01236A;
    border-radius: 4px;
}

a.qodef-blog-single-prev,
a.qodef-blog-single-next,
.qodef-icon-stack {
    background-color: #01236A;
    border-radius: 4px;
}

.qodef-blog-single-prev,
.qodef-blog-single-next,
.qodef-icon-stack {
    background-color: #01236A;
    border-radius: 4px;
}

.qodef-blog-single-navigation .qodef-blog-single-prev {
    background-color: #01236A;
}

.qodef-blog-single-navigation .qodef-blog-single-next {
    background-color: #01236A;
}

.qodef-news-reactions-holder {
    display: none;
}

.qodef-blog-holder article .qodef-post-info-bottom .qodef-post-info-bottom-right {
    display: none;
}

.qodef-blog-holder article .qodef-post-info-bottom .qodef-tags-holder span.qodef-tags-text {
    color: #7A7878;
    display: block;
}

.qodef-blog-holder article .qodef-post-info-bottom .qodef-post-info-bottom-left {
    width: 100%;
}

#qodef-back-to-top .qodef-icon-stack {
    background-color: #01236A;
}

.qodef-related-post-inner div.qodef-related-post-image a {
    width: 100%;
    /* O el ancho que desees */
    height: 200px;
    /* El alto que desees */
    overflow: hidden;
    /* Para recortar la imagen que se sale del contenedor */
    display: block;
}

.qodef-related-post-inner div.qodef-related-post-image a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SEARCHFORM */

.searchform {
    position: relative;
    top: 10px;
    z-index: 1000;
}

.searchform .input-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchform .input-holder input {
    max-width: 125px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-color: transparent;
    padding: 5px;
    color: #878181;
    font-size: 12px;
    font-weight: 400;
    padding-top: 5.1px;

}

.searchform .input-holder button {
    background-color: white;
    border-color: transparent;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 4px;
    cursor: pointer;
}

.searchform .input-holder button .qodef-icon-font-awesome.fa.fa-search {
    color: #04B7B3;
}

.searchform .input-holder input:focus-visible {
    outline: none;
}